/* Reset CSS START */

/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

/* Make images easier to work with since img tag has display: inline by default. That prevents width/height/margin/padding from having an effect */
img,
picture {
    max-width: 100%;
    display: block;
}

body {
    font-family: 'Garamond', serif;
    font-size: 16px;
    text-align: center;
    width: 100%;
    min-width: 390px;
    height: 100vh;
    color: black;
}

ul,
ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Reset CSS END */